.task{
    margin: 0 0 13px;
    width: 400px; 
    display: flex;
    align-items: center;
    gap: 10px;
    background: #cdcdcd;
    padding: 10px;
    border-radius: 10px;
}
.task button{
    display: block;
    padding: 10px;
    margin-left: auto;
    border: none;
    background: cornflowerblue;
}
#todo-list{
    padding-left: 0 ;
}
#add-task{
    background: red;
    color: #fff;
}
.task span{
    text-transform: capitalize;
}
.task.completed span, .task.completed button{
    text-decoration: line-through;
}